<mjml>
  <mj-head>
    <mj-title>FAQ 1</mj-title>
<mj-attributes>
      <mj-breakpoint width="320px" />
      <mj-text padding="0" font-size="15px" line-height="28px" />
      <mj-all font-family="Century Gothic, CenturyGothic, CentGothWGL, -apple-system, BlinkMacSystemFont, Arial, Tahoma, Geneva, sans-serif" />
      <mj-section padding="0" />
      <mj-class name="button" font-size="17px" font-family="Century Gothic, CenturyGothic, CentGothWGL, -apple-system, BlinkMacSystemFont, Arial, Tahoma, Geneva, sans-serif" font-weight="bold" width="100%" inner-padding="15px 28px" padding="0" align="center" text-align="center" border-radius="3px" border="3px solid #5514B4" z></mj-class>
    </mj-attributes>
    <mj-style>
      /**
     * @license
     * MyFonts Webfont Build ID 3896656, 2020-04-29T09:53:28-0400
     * 
     * The fonts listed in this notice are subject to the End User License
     * Agreement(s) entered into by the website owner. All other parties are 
     * explicitly restricted from using the Licensed Webfonts(s).
     * 
     * You may obtain a valid license at the URLs below.
     * 
     * Webfont: CentGothWGL-Italic by Monotype
     * URL: https://www.myfonts.com/fonts/mti/century-gothic/wgl-italic/
     * 
     * Webfont: CentGothWGL by Monotype
     * URL: https://www.myfonts.com/fonts/mti/century-gothic/wgl-regular/
     * 
     * Webfont: CentGothWGL-Bold by Monotype
     * URL: https://www.myfonts.com/fonts/mti/century-gothic/wgl-bold/
     * 
     * Webfont: CentGothWGL-BdIt by Monotype
     * URL: https://www.myfonts.com/fonts/mti/century-gothic/wgl-bold-italic/
     * 
     * 
     * Webfonts copyright: Copyright The Monotype Corporation. All rights reserved. &amp;#x0022;Century Gothic&amp;#x0022; is a trademark of The Monotype Corporation in the United States and/or other countries.
     * 
     * Â© 2020 MyFonts Inc
    */


    /* @import must be at top of file, otherwise CSS will not work */
    @import url("//hello.myfonts.net/count/3b7550");
      
    @font-face {
      font-family: 'CentGothWGL';
      src: url('https://af-bt-email.s3.eu-west-2.amazonaws.com/webFonts/CentGothWGL-Bold/font.woff2') format('woff2'), url('https://af-bt-email.s3.eu-west-2.amazonaws.com/webFonts/CentGothWGL-Bold/font.woff') format('woff');
      font-display: auto;
      font-style: normal;
      font-weight: 700;
    }
    @font-face {
      font-family: 'CentGothWGL';
      src: url('https://af-bt-email.s3.eu-west-2.amazonaws.com/webFonts/CentGothWGL/font.woff2') format('woff2'), url('https://af-bt-email.s3.eu-west-2.amazonaws.com/webFonts/CentGothWGL/font.woff') format('woff');
      font-display: auto;
      font-style: normal;
      font-weight: 400;
    }
    @font-face {
      font-family: 'CentGothWGL-Italic';
      src: url('https://af-bt-email.s3.eu-west-2.amazonaws.com/webFonts/CentGothWGL-Italic/font.woff2') format('woff2'), url('https://af-bt-email.s3.eu-west-2.amazonaws.com/webFonts/CentGothWGL-Italic/font.woff') format('woff');
    }
    @font-face {
      font-family: 'CentGothWGL-BdIt';
      src: url('https://af-bt-email.s3.eu-west-2.amazonaws.com/webFonts/CentGothWGL-BdIt/font.woff2') format('woff2'), url('https://af-bt-email.s3.eu-west-2.amazonaws.com/webFonts/CentGothWGL-BdIt/font.woff') format('woff');
    }
    </mj-style>
      <mj-style>
        html, body {
          margin: 0 !important;
          padding: 0 !important;
          height: 100% !important;
          width: 100% !important;
          font-family: Century Gothic, CenturyGothic, CentGothWGL, -apple-system, BlinkMacSystemFont, Arial, Tahoma, Geneva, sans-serif !important;
        }
        table {
          border-spacing: 0 !important;
          border-collapse: collapse !important;
          table-layout: fixed !important;
        }
      </mj-style>

      <!-- progressive style -->
      <mj-style>
        .button-table td {
          border: 4px solid #5514B4;
          display: block !important;
        }
        @media screen and (max-width: 550px) {
        .gutter {
          padding-right: 10px !important; padding-left: 10px !important;
        }
         .gutter-content-double table td {
          padding-right: 3px !important; padding-left: 3.25px !important;
        }
        .gutter-content table td {
          padding-right: 10px !important; padding-left: 10px !important;
        }
        .mobile-col-space {
          padding-left: 20px !important;
          width: 60% !important;
        }
        .mobile-col-space td {
          padding-top: 7px !important;
        }
        .tick-col {
          width: 20% !important;
        }
        .btbody div {
        font-size: 17px !important;
        line-height: 28px !important;
        }
        .headline div {
        font-size: 31px !important;
        line-height: 39px !important;
        }
        .subhead1 div {
        font-size: 26px !important;
        line-height: 34px !important;
        }
        .subhead2 div {
        font-size: 20px !important;
        line-height: 30px !important;
        }
        .txdetail div {
        font-size: 16px !important;
        line-height: 25px !important;
        }
        .textlink {
          color: #5514B4;
        }
        .button-table, .button-table-outline, .button, .button table, .button td {
          display: block !important;
          min-width: 250px !important;
          font-size: 19px !important;
        }
        .footerless {
        width: 9% !important;
        }
        .footerwidthless {
        width: 35px !important;
        }
        .footertext, .footertext div {
        font-size: 14px !important;
        line-height: 18px !important;
        }
        .footergutter {
        width: 10px !important;
        }
        .footericon {
        width: 25px !important;
        height: 25px !important;
        }
        .footerbar {
        height: 40px !important;
        }
        .video, video { width: 100%; }
        .mobile-w-80 { width: 90% !important; }

        /* Gmail app FIX START */
        u ~ div .gmail .headline div,
        u ~ div .gmail .headline div span {
          font-size: 24px !important;
          line-height: 34px !important;
        }

        u ~ div .gmail .subhead1 div,
        u ~ div .gmail .subhead1 div span {
          font-size: 20px !important;
          line-height: 30px !important;
        }

        u ~ div .gmail .subhead2 div,
        u ~ div .gmail .subhead2 div span {
          font-size: 16px !important;
          line-height: 16px !important;
        }

        u ~ div .gmail .btbody div {
          font-size: 12px !important;
          line-height: 14px !important;
        }

        u ~ div .gmail .txdetail div  {
          font-size: 11px !important;
          line-height: 13px !important;
        }

        u ~ div .gmail .footertext,
        u ~ div .gmail .footertext div {
          font-size: 11px !important;
          line-height: 14px !important;
        }
        /* Gmail app FIX END */
        
        }
        @media screen and (max-width: 320px) {
        .footertext, .footertext div {
        font-size: 12px !important;
        line-height: 18px !important;
        }
        }
      </mj-style>
      <mj-style inline="inline">
        .link-nostyle { color: inherit; text-decoration: none; }
        .textlink { color: #5514B4;text-decoration: underline; font-weight:bold; }
      </mj-style>
    <!-- MOBILE SHOW HIDE -->
      <mj-style>
        @media screen and (max-width: 550px) {
          .hide-desktop {
          display: none !important;
          }
          .hide-mobile, .hide-mobile table, .hide-mobile td, .hide-mobile td a {
          display: block !important;
          width: 100% !important;
          }
        }
      </mj-style>
      <!-- HIDES mobile IMG on desktop view INLINE -->
      <mj-style inline="inline">
      .hide-mobile, .hide-mobile table, .hide-mobile td, .hide-mobile td a {
        display: none !important;
      }
      </mj-style>
      <!-- MOBILE SHOW HIDE -->
      <!--[if mso | IE]>
      <mj-style>
      .hide-mobile {
          display: none !important;
        }
      </mj-style>
      <![endif]-->
  </mj-head>
  <mj-body background-color="#F1F2F2" css-class="gmail">

    <mj-section background-color="#5514b4" padding="0" >
      <mj-column>
        <mj-image href="http://www.BT.com" align="left" src="https://via.placeholder.com/150x80/a39b9b/000000?text=BT+LOGO"  width="143px" height="75px" border="0"  alt="BT Logo" title="BT Logo" padding="0" css-class="logo-left" />
      </mj-column>
    </mj-section>

  <!-- SPACE -->
  <mj-section background-color="#FFFFFF" >
    <mj-column>
      <mj-spacer height="50px" />
    </my-column>
  </mj-section>
  <!-- SPACE -->

  <!--  FAQ: START  -->
  <!--  FIRST -->
  <mj-section background-color="#FFFFFF" padding="0 20px" css-class="gutter-content">
    <mj-column background-color="#f1f2f2" padding="15px">
       <mj-text font-size="26px" line-height="34px" color="#5514B4" font-family="Century Gothic, CenturyGothic, CentGothWGL, -apple-system, BlinkMacSystemFont, Arial, Tahoma, Geneva, sans-serif" font-weight="bold" padding="20px 20px 0 20px"  css-class="subhead1">
          How do I set up Netflix on my TV
        </mj-text>
      <mj-text font-size="16px" color="#58595b" css-class="btbody" padding="20px 40px" line-height="28px">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere</mj-text>
    </mj-column>
  </mj-section>
  <!--  FIRST END -->

  <!-- SPACE -->
  <mj-section background-color="#FFFFFF" >
    <mj-column>
      <mj-spacer height="5px" />
    </my-column>
  </mj-section>
  <!-- SPACE -->

  <!--  SECOND -->
  <mj-section background-color="#FFFFFF" padding="0 20px" css-class="gutter-content">
    <mj-column background-color="#f1f2f2" padding="15px">
       <mj-text font-size="26px" line-height="34px" color="#5514B4" font-family="Century Gothic, CenturyGothic, CentGothWGL, -apple-system, BlinkMacSystemFont, Arial, Tahoma, Geneva, sans-serif" font-weight="bold" padding="20px 20px 0 20px"  css-class="subhead1">
       How do I use the Universal search functionality on my BT TV?
        </mj-text>
      <mj-text font-size="16px" color="#58595b" css-class="btbody" padding="20px 40px" line-height="28px">Lorem ipsum dolor sit amet consec adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet consec adipiscing elit, sed do eiusmod tempor</mj-text>
    </mj-column>
  </mj-section>
  <!--  SECOND END -->

  <!-- SPACE -->
  <mj-section background-color="#FFFFFF" >
    <mj-column>
      <mj-spacer height="5px" />
    </my-column>
  </mj-section>
  <!-- SPACE -->

  <!--  THIRD -->
  <mj-section background-color="#FFFFFF" padding="0 20px" css-class="gutter-content">
    <mj-column background-color="#f1f2f2" padding="15px">
       <mj-text font-size="26px" line-height="34px" color="#5514B4" font-family="Century Gothic, CenturyGothic, CentGothWGL, -apple-system, BlinkMacSystemFont, Arial, Tahoma, Geneva, sans-serif" font-weight="bold" padding="20px 20px 0 20px"  css-class="subhead1">
          Can I watch BBC iPlayer?
        </mj-text>
      <mj-text font-size="16px" color="#58595b" css-class="btbody" padding="20px 40px" line-height="28px">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mj-text>
    </mj-column>
  </mj-section>
  <!--  THIRD END -->
<!--  FAQ: END    -->

  <!-- SPACE -->
  <mj-section background-color="#FFFFFF" >
    <mj-column>
      <mj-spacer height="50px" />
    </my-column>
  </mj-section>
  <!-- SPACE -->

  </mj-body>
</mjml>